In [9]:
import pandas as pd
import numpy as np
from pathlib import Path
import hvplot.pandas
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from pandas.tseries.offsets import DateOffset
from sklearn.metrics import classification_report
from pandas_datareader import data as pdr
import datetime as dt

In [7]:
# select the stocks
stock_list = ['JPM', 'GS', 'MS']
stocks = stock_list
stocks

['JPM', 'GS', 'MS']

In [11]:
# Specify date range for analysis

end = dt.datetime.now()
start = dt.datetime(2018,6,15)
start, end

(datetime.datetime(2018, 6, 15, 0, 0),
 datetime.datetime(2021, 10, 6, 19, 24, 37, 300463))

In [12]:
# Call the Pandas_Datareader DataReader module
df = pdr.get_data_yahoo(stocks, start, end)
df.head()

Attributes  Adj Close                              Close              \
Symbols           JPM          GS         MS         JPM          GS
Date
2018-06-15  97.279610  217.609085  46.864719  107.900002  231.919998
2018-06-18  97.532051  217.111801  46.507462  108.180000  231.389999
2018-06-19  96.964050  214.231247  45.728832  107.550003  228.320007
2018-06-20  96.955032  213.762131  45.701347  107.540001  227.820007
2018-06-21  96.928001  212.973938  45.609741  107.510002  226.979996

Attributes                   High                                Low  \
Symbols            MS         JPM          GS         MS         JPM
Date
2018-06-15  51.160000  108.379997  233.149994  51.419998  106.269997
2018-06-18  50.770000  108.400002  231.669998  50.939999  106.690002
2018-06-19  49.919998  107.879997  229.039993  50.189999  106.599998
2018-06-20  49.889999  108.639999  229.940002  50.389999  107.440002
2018-06-21  49.790001  108.209999  228.429993  50.119999  106.529999

Attributes                               Open                         \
Symbols             GS         MS         JPM          GS         MS
Date
2018-06-15  229.839996  50.580002  107.800003  231.500000  50.910000
2018-06-18  229.149994  50.450001  107.260002  230.199997  50.709999
2018-06-19  226.160004  49.490002  106.900002  228.220001  50.169998
2018-06-20  226.960007  49.830002  108.180000  229.919998  50.130001
2018-06-21  224.570007  48.980000  107.099998  226.389999  49.660000

Attributes      Volume
Symbols            JPM         GS          MS
Date
2018-06-15  26028600.0  4738100.0  11505700.0
2018-06-18   9786800.0  2327500.0   7493900.0
2018-06-19  12707200.0  3326600.0  12490100.0
2018-06-20   8876900.0  2678300.0   6570800.0
2018-06-21  11048700.0  3094600.0  11018400.0

In [18]:

jpm_df = [df ['JPM', 'Close', 'Volume']].toframe
jpm_df.head()

KeyError: 'Key length (3) exceeds index depth (2)'

In [14]:
# Filter the date index and close columns
signals_df = df.loc[:,["Close","Volume"]]

# Review the DataFrame
signals_df.head()

Attributes       Close                             Volume             \
Symbols            JPM          GS         MS         JPM         GS
Date
2018-06-15  107.900002  231.919998  51.160000  26028600.0  4738100.0
2018-06-18  108.180000  231.389999  50.770000   9786800.0  2327500.0
2018-06-19  107.550003  228.320007  49.919998  12707200.0  3326600.0
2018-06-20  107.540001  227.820007  49.889999   8876900.0  2678300.0
2018-06-21  107.510002  226.979996  49.790001  11048700.0  3094600.0

Attributes
Symbols             MS
Date
2018-06-15  11505700.0
2018-06-18   7493900.0
2018-06-19  12490100.0
2018-06-20   6570800.0
2018-06-21  11018400.0

In [ ]:
jpm_df =